starfive_visionfive2_lite_kernel:
  target: "/home/opvolger/tmp/kernel"
  download: https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-[version].tar.xz
  version: "6.19"
  kernel_zip_prefix: linux-
  dtb_file_location: /arch/riscv/boot/dts/starfive/jh7110-starfive-visionfive-2-lite.dtb
  # do not use modules
  replace_m_for_y: true
  # file_patches:
    # - files/jh7110-lite/PATCH-v3-0-5-Add-support-for-StarFive-VisionFive-2-Lite-board.mbox
  build_params:
    CROSS_COMPILE: riscv64-linux-gnu-
    ARCH: riscv
  add_to_config:
    # firmware in kernel
    CONFIG_EXTRA_FIRMWARE: "amdgpu/hawaii_k_smc.bin amdgpu/hawaii_smc.bin amdgpu/hawaii_uvd.bin amdgpu/hawaii_vce.bin amdgpu/hawaii_sdma.bin amdgpu/hawaii_sdma1.bin amdgpu/hawaii_pfp.bin amdgpu/hawaii_me.bin amdgpu/hawaii_ce.bin amdgpu/hawaii_rlc.bin amdgpu/hawaii_mec.bin amdgpu/hawaii_mc.bin radeon/hawaii_pfp.bin radeon/hawaii_me.bin radeon/hawaii_ce.bin radeon/hawaii_mec.bin radeon/hawaii_mc.bin radeon/hawaii_rlc.bin radeon/hawaii_sdma.bin radeon/hawaii_smc.bin radeon/hawaii_k_smc.bin radeon/HAWAII_pfp.bin radeon/HAWAII_me.bin radeon/HAWAII_ce.bin radeon/HAWAII_mec.bin radeon/HAWAII_mc.bin radeon/HAWAII_mc2.bin radeon/HAWAII_rlc.bin radeon/HAWAII_sdma.bin radeon/HAWAII_smc.bin"
    CONFIG_EXTRA_FIRMWARE_DIR: "../linux-firmware"

    CONFIG_INPUT_EVDEV: y
    
    # DisplayLink
    CONFIG_HAS_IOMEM: y
    CONFIG_DRM: y
    CONFIG_DRM_UDL: y
    CONFIG_FB_CORE: y
    CONFIG_LOGO: y
    
    # AMDGPU + HDMI sound
    CONFIG_DRM_AMDGPU: y
    CONFIG_DRM_AMDGPU_SI: y
    CONFIG_DRM_AMDGPU_CIK: y
    CONFIG_DRM_AMD_DC: y
    CONFIG_DRM_AMD_DC_FP: y
    CONFIG_SND_DYNAMIC_MINORS: y
    CONFIG_SND_MAX_CARDS: 32
    CONFIG_SND_VMASTER: y
    CONFIG_SND_HDA: y
    CONFIG_SND_HDA_INTEL: y
    CONFIG_SND_HDA_CODEC_HDMI: y
    CONFIG_SND_HDA_POWER_SAVE_DEFAULT: 0
    CONFIG_SND_HDA_CORE: y
    CONFIG_SND_HDA_COMPONENT: y
    CONFIG_SND_INTEL_NHLT: y
    CONFIG_SND_INTEL_DSP_CONFIG: y
    CONFIG_SND_INTEL_SOUNDWIRE_ACPI: y

    # needed for ubuntu (snap):
    CONFIG_SQUASHFS: y
    CONFIG_SQUASHFS_FILE_CACHE: y
    CONFIG_SQUASHFS_DECOMP_SINGLE: y
    CONFIG_SQUASHFS_COMPILE_DECOMP_SINGLE: y
    CONFIG_SQUASHFS_ZLIB: y
    CONFIG_SQUASHFS_LZ4: y
    CONFIG_SQUASHFS_LZO: y
    CONFIG_SQUASHFS_XZ: y
    CONFIG_SQUASHFS_ZSTD: y
    CONFIG_SQUASHFS_FRAGMENT_CACHE_SIZE: 3

    # needed for Fedora (zram)
    CONFIG_BLK_DEV_RAM: y
    CONFIG_BLK_DEV_RAM_COUNT: 16
    CONFIG_BLK_DEV_RAM_SIZE: 4096
    CONFIG_ZRAM: y
    CONFIG_ZRAM_DEF_COMP_LZ4: y
    CONFIG_ZRAM_DEF_COMP: "lz4"
    CONFIG_ZRAM_WRITEBACK: y
    CONFIG_ZRAM_MEMORY_TRACKING: y

    # gaming
    CONFIG_INPUT_MISC: y
    CONFIG_INPUT_UINPUT: y
    CONFIG_NTSYNC: y
    CONFIG_PREEMPT: y
    CONFIG_PREEMPT_VOLUNTARY: y
    CONFIG_PREEMPT_LAZY: y
    CONFIG_PREEMPT_DYNAMIC: y

    # needed for k8s
    CONFIG_NAMESPACES: y
    CONFIG_NET_NS: y
    CONFIG_PID_NS: y
    CONFIG_IPC_NS: y
    CONFIG_UTS_NS: y
    CONFIG_CGROUPS: y
    CONFIG_CGROUP_PIDS: y
    CONFIG_CGROUP_CPUACCT: y
    CONFIG_CGROUP_DEVICE: y
    CONFIG_CGROUP_FREEZER: y
    CONFIG_CGROUP_SCHED: y
    CONFIG_CPUSETS: y
    CONFIG_MEMCG: y
    CONFIG_SECCOMP: y
    CONFIG_KEYS: y
    CONFIG_VETH: y
    CONFIG_BRIDGE: y
    CONFIG_BRIDGE_NETFILTER: y
    CONFIG_IP_NF_FILTER: y
    CONFIG_IP_NF_TARGET_MASQUERADE: y
    CONFIG_IP_NF_TARGET_REJECT: y
    CONFIG_NETFILTER_XTABLES_LEGACY: y
    CONFIG_NETFILTER_XT_MATCH_ADDRTYPE: y
    CONFIG_NETFILTER_XT_MATCH_CONNTRACK: y
    CONFIG_NETFILTER_XT_MATCH_IPVS: y
    CONFIG_NETFILTER_XT_MATCH_COMMENT: y
    CONFIG_NETFILTER_XT_MATCH_MULTIPORT: y
    CONFIG_NETFILTER_XT_MATCH_STATISTIC: y
    CONFIG_IP_NF_NAT: y
    CONFIG_NF_NAT: y
    CONFIG_POSIX_MQUEUE: y

    CONFIG_USER_NS: y
    CONFIG_BLK_CGROUP: y
    CONFIG_BLK_DEV_THROTTLING: y
    CONFIG_CGROUP_PERF: y
    CONFIG_CGROUP_HUGETLB: y
    CONFIG_NET_CLS_CGROUP: y
    CONFIG_CGROUP_NET_PRIO: y
    CONFIG_CFS_BANDWIDTH: y
    CONFIG_FAIR_GROUP_SCHED: y
    CONFIG_RT_GROUP_SCHED: y
    CONFIG_IP_NF_TARGET_REDIRECT: y
    CONFIG_IP_SET: y

    CONFIG_IP_SET_BITMAP_IP: y
    CONFIG_IP_SET_BITMAP_IPMAC: y
    CONFIG_IP_SET_BITMAP_PORT: y
    CONFIG_IP_SET_HASH_IP: y
    CONFIG_IP_SET_HASH_IPMARK: y
    CONFIG_IP_SET_HASH_IPPORT: y
    CONFIG_IP_SET_HASH_IPPORTIP: y
    CONFIG_IP_SET_HASH_IPPORTNET: y
    CONFIG_IP_SET_HASH_IPMAC: y
    CONFIG_IP_SET_HASH_MAC: y
    CONFIG_IP_SET_HASH_NETPORTNET: y
    CONFIG_IP_SET_HASH_NET: y
    CONFIG_IP_SET_HASH_NETNET: y
    CONFIG_IP_SET_HASH_NETPORT: y
    CONFIG_IP_SET_HASH_NETIFACE: y
    CONFIG_IP_SET_LIST_SET: y

    CONFIG_IP_VS: y
    CONFIG_IP_VS_NFCT: y
    CONFIG_IP_VS_PROTO_TCP: y
    CONFIG_IP_VS_PROTO_UDP: y
    CONFIG_IP_VS_RR: y
    CONFIG_EXT4_FS: y
    CONFIG_EXT4_FS_POSIX_ACL: y
    CONFIG_EXT4_FS_SECURITY: y

    CONFIG_VXLAN: y

    CONFIG_CRYPTO: y
    CONFIG_CRYPTO_AEAD: y
    CONFIG_CRYPTO_GCM: y
    CONFIG_CRYPTO_SEQIV: y
    CONFIG_CRYPTO_GHASH: y
    CONFIG_XFRM: y
    CONFIG_XFRM_USER: y
    CONFIG_XFRM_ALGO: y
    CONFIG_INET_ESP: y
    CONFIG_INET_XFRM_MODE_TRANSPORT: y
    CONFIG_OVERLAY_FS: y

    CONFIG_NETFILTER_SKIP_EGRESS: y
    CONFIG_NETFILTER_FAMILY_ARP: y
    CONFIG_NETFILTER_NETLINK_HOOK: y
    CONFIG_NETFILTER_CONNCOUNT: y
    CONFIG_NETFILTER_SYNPROXY: y
    CONFIG_NF_TABLES_INET: y
    CONFIG_NF_TABLES_NETDEV: y
    CONFIG_NFT_NUMGEN: y
    CONFIG_NFT_CT: y
    CONFIG_NFT_FLOW_OFFLOAD: y
    CONFIG_NFT_CONNLIMIT: y
    CONFIG_NFT_LOG: y
    CONFIG_NFT_LIMIT: y
    CONFIG_NFT_MASQ: y
    CONFIG_NFT_REDIR: y
    CONFIG_NFT_NAT: y
    CONFIG_NFT_TUNNEL: y
    CONFIG_NFT_QUOTA: y
    CONFIG_NFT_REJECT: y
    CONFIG_NFT_REJECT_INET: y
    CONFIG_NFT_COMPAT: y
    CONFIG_NFT_HASH: y
    CONFIG_NFT_FIB: y
    CONFIG_NFT_FIB_INET: y
    CONFIG_NFT_XFRM: y
    CONFIG_NFT_SOCKET: y
    CONFIG_NFT_OSF: y
    CONFIG_NFT_TPROXY: y
    CONFIG_NFT_SYNPROXY: y
    CONFIG_NF_DUP_NETDEV: y
    CONFIG_NFT_DUP_NETDEV: y
    CONFIG_NFT_FWD_NETDEV: y
    CONFIG_NFT_FIB_NETDEV: y
    CONFIG_NFT_REJECT_NETDEV: y
    CONFIG_NF_FLOW_TABLE_INET: y
    CONFIG_NF_FLOW_TABLE: y
    CONFIG_NF_FLOW_TABLE_PROCFS: y
    CONFIG_NETFILTER_XT_TARGET_CT: y
    CONFIG_NF_SOCKET_IPV4: y
    CONFIG_NF_TPROXY_IPV4: y
    CONFIG_NF_TABLES_IPV4: y
    CONFIG_NFT_REJECT_IPV4: y
    CONFIG_NFT_DUP_IPV4: y
    CONFIG_NFT_FIB_IPV4: y
    CONFIG_NF_TABLES_ARP: y
    CONFIG_NF_DUP_IPV4: y
    CONFIG_NFT_COMPAT_ARP: y
    CONFIG_IP_NF_ARP_MANGLE: y
    CONFIG_NF_SOCKET_IPV6: y
    CONFIG_NF_TPROXY_IPV6: y
    CONFIG_NF_TABLES_IPV6: y
    CONFIG_NFT_REJECT_IPV6: y
    CONFIG_NFT_DUP_IPV6: y
    CONFIG_NFT_FIB_IPV6: y
    CONFIG_NF_DUP_IPV6: y
    CONFIG_IP6_NF_TARGET_NPT: y
    CONFIG_NF_TABLES_BRIDGE: y
    CONFIG_NFT_BRIDGE_META: y
    CONFIG_NFT_BRIDGE_REJECT: y
    CONFIG_IFB: y

    CONFIG_CIFS: y
    CONFIG_SMB_SERVER: y
    CONFIG_CEPH_FS: y
    CONFIG_CIFS_STATS2: y
    CONFIG_CIFS_ALLOW_INSECURE_LEGACY: y
    CONFIG_CIFS_UPCALL: y
    CONFIG_CIFS_XATTR: y
    CONFIG_CIFS_POSIX: y
    CONFIG_CIFS_DFS_UPCALL: y
    CONFIG_CIFS_SWN_UPCALL: y
    CONFIG_CIFS_ROOT: y
    CONFIG_CIFS_COMPRESSION: y
    CONFIG_SMB_SERVER_CHECK_CAP_NET_ADMIN: y
    CONFIG_SMB_SERVER_KERBEROS5: y
    CONFIG_SMBFS: y
    CONFIG_NLS_UTF8: y
    CONFIG_NLS_UCS2_UTILS: y
    CONFIG_CRYPTO_CCM: y
    CONFIG_CRYPTO_CMAC: y
    CONFIG_CRYPTO_LIB_ARC4: y
    CONFIG_CRYPTO_LIB_DES: y
    CONFIG_CRYPTO_LIB_MD5: y
